<header>
    <nav class="menu">
        <span>
            <a href="/">Главная</a>
        </span>
        <span>
            <a href="/generate">QRcode</a>
        </span>
        <span>
            <form class="search" action='/order_info/' method='get'>
                <input type="text"  placeholder="Поиск..." name="code">
                <button type="submit"></button>
            </form>
        </span>
    </nav>
</header>