<!DOCTYPE html>
<html>
    <head>
        <title><%= serial %></title>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/png">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head> 
    <body>
        <header>
            <div>
                <nav>
                    <a class="nav-a" href="/">Главная</a>
                    <a>|</a>
                   <!-- <a class="nav-a" href="/order_info/">Таблица</a> -->
                    <a class="nav-a" href="/qrcode">QRcode</a>
                    <a>|</a>
                    <form class="search ">
                        <input class="search-input" type="text" placeholder="Поиск...">
                    </form>
                  <!-- <a class="nav-a">Поиск</a> -->
                </nav>
            </div> 
        </header>

        <div class="container">
            <h1>Серийный номер: <%= serial %></h1>
            <table class="content-table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Марка</td>
                        <td>Дата производства</td>
                        <td>Объект</td>
                        <td>Дата прихода</td>
                        <td>Дата ухода</td>
                        <td>Отправил</td>
                        <td>Получил</td>
                    </tr>
                </thead>
                <tbody>
                    <%- database %>
                </tbody>
            </table>
        </div>
        <footer>
        </footer>
    </body>
</html>