<!DOCTYPE html>
<html>
    <head>
        <title>Главная</title>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/png">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <!-- <meta http-equiv="Refresh" content="1" /> -->
    </head>
    <body>
        <header>
                <nav class="menu">
                    <span>
                        <a href="/">Главная</a>
                    </span>
                    <span>
                        <a href="/qrcode">QRcode</a>
                    </span>
                    <span>
                        <form class="search" action='/order_info/' method='get'>
                            <input type="text"  placeholder="Поиск..." name="code">
                            <button type="submit"></button>
                        </form>
                    </span>
                </nav>
        </header>

        <div class="container">
            <h1>Генерация QRcode</h1>
            <h2>S/№: 8-54-21-4-06</h2>
            <form class="qrform">
                <label>Партия:</label>
                <input required type="text" placeholder="Введите номер партии">
                <label>Код устройства:</label>
                <input required list="code"  type="text" placeholder="Введите код устройства">
                <datalist id="code">
                    <option>54 - УМС ПА</option>
                    <option>55 - УМС ЧИ</option>
                </datalist>
                <label>№ устройства в партии:</label>
                <input required type="text" placeholder="Введите номер устройства">
                <input required class="button-plus" type="submit" value="+">
                <label>Месяц/год</label>
                <input required class="day" type="number" value="01">
                <input required class="year" type="number" value="21">
            </form>
                <a class="big-butt">Генирировать по данным</a>
                <a class="big-butt">Генирировать следующий номер</a>
        </div>  
        <footer>
        </footer>
    </body>
</html>