<!DOCTYPE html>
<html>
    <head>
        <title><%= serial %></title>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/png">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head> 
    <body>
        <header>
                <nav class="menu">
                    <span>
                        <a href="/">Главная</a>
                    </span>
                    <span>
                        <a href="/qrcode">QRcode</a>
                    </span>
                    <span>
                        <form class="search" action='/order_info/' method='get'>
                            <input type="text"  placeholder="Поиск..." name="code">
                            <button type="submit"></button>
                        </form>
                    </span>
                </nav>
        </header>

        <div class="container">
            <h1>Серийный номер: <%= serial %></h1>
            <table class="content-table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Марка</td>
                        <td>Дата производства</td>
                        <td>Объект</td>
                        <td>Дата прихода</td>
                        <td>Дата ухода</td>
                        <td>Отправил</td>
                        <td>Получил</td>
                    </tr>
                </thead>
                <tbody>
                    <%- database %>
                </tbody>
            </table>
        </div>
        <footer>
        </footer>
    </body>
</html>