<!DOCTYPE html>
<html>
    <head>
        <title>QRcode</title>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/png">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <header>
                <nav class="menu">
                    <span>
                        <a href="/">Главная</a>
                    </span>
                    <span>
                        <a href="/qrcode">QRcode</a>
                    </span>
                    <span>
                        <form class="search" action='/order_info/' method='get'>
                            <input type="text"  placeholder="Поиск..." name="code">
                            <button type="submit"></button>
                        </form>
                    </span>
                </nav>
        </header>

        <div class="container">
            <h1>Новый QRcode: <br><%= qr_image %></h1>
            <div class="QRimage">
                <img src="/images/qrcodes/<%= qr_image %>.png">
            </div>
            <div class="QRimage">
                <a class="button" href="/images/qrcodes/<%= qr_image %>.png" download>Скачать файл</a>
            </div>
        </div>
        <footer>
        </footer>
    </body>
</html>