* {
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}
body {
  background: linear-gradient(90deg, #9437eb 0%, rgba(55,127,235,1) 50%, rgba(148,55,235,1) 100%);
  /* display: flex; */
  padding: 0;
  margin: 0;
}
.container {
  margin-top: 10px;
  width: 900px;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 1px 15px;
}
h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}
.content-table {
  border-collapse: collapse;
  margin: auto;
  width: auto!important;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  margin-bottom: 15px;
}
.content-table thead tr {
  background-color: rgb(46, 109, 95);
  color: white;
  text-align: left;
  font-weight: bold;
}
.content-table th,
.content-table td {
  padding: 5px 8px;
}
.content-table tbody tr {
  background-color: rgb(255, 253, 253);
  border-bottom: 1px solid #ddd;
}
.content-table tbody tr:last-of-type {
  border-bottom: 8px solid rgb(46, 109, 95);
}


/*header and еtc*/

header {
    margin: 0;  
    color: rgb(255, 255, 255);
    background-color: rgb(39, 37, 37);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 60px;
    word-spacing: 100px;
}

.nav-a {
    color: rgb(150, 150, 150);
    text-decoration: none;
}

.nav-a:hover {
    color: rgb(255, 253, 253);
}

.QRimage {
  display: block; 
  justify-content: center;
  align-items: center;
  text-align: center;
}

.QRimage img{border-radius: 16px;}

.button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 200px;
  height: 50px;
  line-height: 45px;
  border-radius: 30px;
  margin: 10px 20px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background: rgb(94, 92, 92);
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  transition: .3s;
  text-align: center;
  vertical-align: middle;
  border: solid 1px #333;
}

.button:hover {
  background: #6825a7;
  box-shadow: 0 15px 20px rgba(26, 87, 87, 0.4);
  color: white;
  transform: translateY(-7px);
}

.button-container {
    text-align: center;
}

footer {
  color: rgb(255, 255, 255);
  background-color: #272525;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 55px;
  position: fixed; 
  left: 0; bottom: 0;
  width: 100%;
}

/*залупа and еtc*/

.search {
  float: right;
}

input::placeholder {
  font-family: system-ui;
  font-size: 15px;
}

.search-input {
  width: 250px;
  border: 0;
  background-color: transparent;
  font-weight: bold;
  font-family: system-ui;
  outline: none;
  color: #fff;
  border-bottom: 2px solid transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  z-index: 2;
  /* padding-left: 100px; */
  text-align: center;
}

input:focus {
  width: 250px;
  z-index: 1;
  border-bottom: 2px solid #ffffff;
}